/* Start Variable */
:root {
    --bacgroundcolor--: #ececec;
    --maincolor: #2196f3;
    --maincolor-alt: #1787e0;
    --fontcolor: #666;
    --white: #fff;
    --maintransation: 0.3s;
    --hoverback: rgba(221, 221, 221, 0.205);
}

/* End Variable */

/* media for container End */
/* global rule start */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.main-title {
    margin-top: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title h2 {
    position: relative;
    text-align: center;
    padding: 10px 20px;
    font-size: 30px;
    border: 2px solid #000;
    z-index: 100;
}

.main-title h2:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.6s;
    transition-duration: 0.5s;
}

.main-title h2::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--maincolor);
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    z-index: -1;
}

.main-title h2:hover::after {
    animation: go-fill1 0.5s linear forwards;

}

.main-title h2::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--maincolor);
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    z-index: -1;
}

.main-title h2:hover::before {
    animation: go-fill2 0.5s linear forwards;
}

@keyframes go-fill1 {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        width: 55%;
        height: 100%;
        left: 0%;
        border-radius: 0;

    }
}

@keyframes go-fill2 {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        width: 50%;
        height: 100%;
        right: 0%;
        border-radius: 0;

    }
}

.triangle {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/* global rule End */

/* media for container Start */
/* small */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media(min-width:991px) {
    .container {
        width: 970px;
    }
}

/* large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* project start */
/* Header Start */
header {
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-color: var(--white);
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    transition: 0.3s;
}

header .logo {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo a {
    color: var(--maincolor);
    font-size: 26px;
    font-weight: bold;
    padding: 0px;
}

header .mainLinks {
    display: flex;
}

header .mainLinks li {
    font-size: 18px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .mainLinks li a {
    padding: 30px 30px;
    color: #000;
    transition: var(--maintransation);
    position: relative;
    overflow: hidden;
}

header .mainLinks li a:hover {
    background-color: var(--hoverback);
    color: var(--maincolor);
}

header .mainLinks li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    top: 0%;
    right: 100%;
    transition: 0.3s;
    background-color: var(--maincolor);
}

header .mainLinks li a:hover::after {
    right: 0%;
}

.otherLinkNav {
    display: flex;
    position: absolute;
    background-color: var(--white);
    top: calc(100% + 50px);
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    border-bottom: 3px solid var(--maincolor);
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s, opacity 0.3s;
    z-index: -1;
    gap: 40px;
    opacity: 0;
}

.otherLinkNav ul, .otherLinkNav .img {
    margin-top: 20px;
}

.otherLinkNav .img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.otherLinkNav ul {
    flex-basis: 22%;
    min-width: 250px;
    flex: 1;

}

.otherLinkNav ul li {
    height: initial;
}

.otherLinkNav ul li a {
    color: var(--maincolor);
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #ddd;
    padding: 15px 0px 15px 10px;
    position: relative;
    overflow: hidden;
}

.otherLinkNav ul li:first-child a {
    border: none;
}

.otherLinkNav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: var(--hoverback);
    top: 0;
    left: -100%;
    transition: 0.3s;
    z-index: -1;
}

.otherLinkNav ul li a:hover::after {
    transform: translateX(100%);
}

header .mainLinks li:last-child:hover .otherLinkNav {
    opacity: 1;
    transform: translateY(-49px) translateX(-50%);
    z-index: 100;

}

/* Media */
@media(max-width:991px) {
    header .container {
        justify-content: space-around;
    }

    header .otherLinkNav .img {
        display: none;
    }
}

@media(max-width:1200px) {
    .otherLinkNav img {
        width: 300px;
    }

}

@media(max-width:768px) {
    header .container .mainLinks {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        height: 30px;
    }

    header .mainLinks li {
        height: initial;
    }

    header .mainLinks li a {
        font-size: 15px;
        padding: 10px 10px;
    }

    header .mainLinks li a::after {
        height: 4px;
    }

    header .otherLinkNav {
        flex-direction: column;
    }

    .otherLinkNav {
        gap: 0px;
    }

    .otherLinkNav ul {
        flex-basis: 100%;
        margin-top: 0px;
    }

    header .otherLinkNav ul li a {
        padding: 5px;
    }

    header .otherLinkNav ul li:last-child a {
        border-bottom: 1px solid #ddd;
    }
}

/* Header End */
/* landing start */

.landing {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: var(--white);
    overflow: hidden;
}

.landing .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.landing::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
    background-color: var(--bacgroundcolor--);
    transform: skewy(-6deg);
    transform-origin: top left;
}

.landing .container .text .title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
}

.landing .container .text p {
    font-size: 23px;
    color: var(--fontcolor);
    line-height: 2;
}

@media(max-width:991px) {
    .landing .container .text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width:768px) {
    .landing .container .text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .landing .container .text .title {
        font-size: 28px;
    }

    .landing .container .text p {
        font-size: 18px;
    }
}

.landing .container .img img {
    margin-top: 40px;
    position: relative;
    width: 600px;
    transition: var(--maintransation);
    animation: up-down 5s linear infinite;
}

@media(max-width:991px) {
    .landing .container .img {
        display: none;
    }
}

.landing .go-down {
    color: var(--maincolor);
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    animation: articles 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: 2s;
}

.landing .go-down i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* animation start */
@keyframes up-down {
    0%, 100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes articles {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40%, 60% {
        transform: translateY(23px);
    }
}

/* landing end */
/* Articles Start */
.articles {
    padding-top: 100px;
    padding-bottom: 100px;

}

.articles .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 100%;
    gap: 40px;
}

.articles .container .content {
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
    transition: 0.3s;
}

.articles .container .content:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 20px #ddd;
}

.articles .container .content:hover i {
    animation: left-right 0.5s linear;
    animation-iteration-count: infinite;
}

/* animation start */
@keyframes left-right {
    50% {
        right: calc(0% + 5px);
    }

    100% {
        right: calc(0% + 15px);
    }
}

/* animation End */
.articles .container img {
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.articles .container .text {
    padding-left: 15px;
}

.articles .container .text div:first-of-type {
    color: var(--fontcolor);
    margin-bottom: 20px;
}

.articles .container .text div i {
    font-size: 15px;
    position: absolute;
    right: calc(0% + 15px);
    top: 50%;
    transform: translateY(-50%);
}

.articles .container .text div:last-of-type {
    color: var(--maincolor);
    padding: 20px 0px;
    position: relative;
    font-weight: bold;
}

.articles .container .text div:last-of-type::after {
    content: "";
    width: calc(100% + 15px);
    height: 1px;
    background-color: #ddd;
    position: absolute;
    top: 0%;
    left: -15px;
}

/* Articles End */
/* gallery start */
.gallery {
    background-color: #ddd;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.gallery .main-title {
    position: absolute;
    top: 0%;
    margin: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    margin-bottom: 50px;

}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 280px;
    margin-bottom: 100px;
}

.gallery .container .content {
    padding: 15px;
    background-color: var(--white);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    max-height: 100%;
}

.gallery .container .content .image {
    position: relative;
    overflow: hidden;
}

.gallery .container .content img {
    max-width: 100%;
    transition: var(--maintransation);
    position: relative;
}

.gallery .container .content .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.gallery .container .content .image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    transform: translateX(-50%) translateY(-55%);
}

.gallery .container .content .image:hover::after {
    animation: flashing 0.3s linear;
    background-color: var(--white);
}

@keyframes flashing {
    0%, 40% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* gallery end */
/* Features start */
.features .main-title {
    margin-top: 100px;
    margin-bottom: 50px;
}

.features .container {
    position: relative;
    padding-bottom: 100px;
}

.features .container .features-content {
    margin-top: 50px;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .features-content .image img {
    max-width: 100%;
    /* set image do not go after container */
}

.features .features-con {
    border: 1px solid #cccccc;
}

.features .image {
    position: relative;
    overflow: hidden;
}

.features .image::before {
    content: "";
    position: absolute;
    background-color: rgb(0 150 136 / 60%);
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;
}

.features .color::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .color2::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 700px;
    border-color: transparent transparent white transparent;
    transition: 0.5s;
}

.features .features-con:hover .image::after {
    border-width: 0px 700px 170px 0px;
}

.features .features-content .features-desc {
    display: flex;
    flex-direction: column;
}

.features-desc {
    position: relative;
}

.features-desc .title {
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

.features-desc .title::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 5px;
    background-color: teal;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
}

.features-desc .color1::after {
    background-color: red;
    width: 25%;
}

.features-desc .color21::after {
    background-color: var(--maincolor-alt);
    width: 30%;
}

.features-desc .text {
    line-height: 2;
    text-align: center;
    font-size: 20px;
    color: #777;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
}

.features-desc button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid teal;
    border-radius: 5px;
    width: 30%;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    font-weight: bold;
    color: teal;
    overflow: hidden;
    margin-bottom: 20px;

}

.features-desc .color3 {
    color: red;
    border-color: red;
}

.features-desc .color23 {
    color: var(--maincolor-alt);
    border-color: var(--maincolor-alt);
}

.features button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-1000px);
    width: 100%;
    height: 100%;
    background-color: teal;
    z-index: -1;
    transition: 0.5s;
}

.features .color3::after {
    border-color: red;
    background-color: red;
}

.features .color23::after {
    border-color: var(--maincolor-alt);
    background-color: var(--maincolor-alt);
}

.features .features-con:hover button::after {
    content: "";
    transform: translateX(0px);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.features .features-con:hover button {
    color: var(--white);
}

/* Features End */
/* <!-- TESTIMONIALS Start --> */
.test .main-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 50px;
}


.test {
    background-color: var(--bacgroundcolor--);
    padding-bottom: 100px;
}

.test .test-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.test .test-content .box {
    position: relative;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    padding: 0px 20px 0px 20px;
}

.test .test-content .box .image img {
    position: absolute;
    top: -25%;
    right: -1%;
    border: 10px solid var(--bacgroundcolor--);
    width: 100px;
    border-radius: 50%;
}

.test .box .text h2 {
    font-size: 20px;
}

.test .box .text p, .test .box .text .description {
    color: var(--fontcolor);

}

/* <!-- TESTIMONIALS End --> */
/* Team Meambers Start */
.team .main-title {
    margin-top: 100px;
    margin-bottom: 50px;
}

.team {
    position: relative;
    padding-bottom: 100px;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .box {
    position: relative;
    transition: 0.5s;
}

.team .box::before, .team .box::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    right: 0;
    top: 0;
    transition: 0.5s;
}

.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::after {
    width: 0;
    z-index: -1;
    background-color: #e4e4e4;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box:hover img {
    filter: grayscale(1);

}

.team .box:hover .text {
    filter: grayscale(1);
}

.team .box img {
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: 0.5s;
}

.team .box .icon-img {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .box .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

.team i {
    padding: 10px;
    transition: 0.5s;
}

.team a {
    text-transform: none;
    color: var(--fontcolor);

}

.team a:hover i {
    color: var(--maincolor);
}

.team .box .text {
    padding-left: 80px;
    transition: 0.5s;
}

.team .box .title {
    color: var(--maincolor);
    font-size: 25px;
    font-weight: bold;
}

/* Team Meambers End */
/* Services Start  */
.services .main-title {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.services {
    background-color: var(--bacgroundcolor--);
    position: relative;
    padding-bottom: 100px;

}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    background-color: var(--white);
    box-shadow: #ddd 0px 0px 5px 5px;
    padding: 30px 0px 0px 0px;
    transition: 0.3s;
}

.services .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services i {
    color: #ddd;
}

.services .icons p {
    color: var(--maincolor);
    font-size: 25px;
    font-weight: bold;
}

.services .container .details {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.services .container .details a {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--maincolor);
}

.services .container .details span:first-of-type {
    position: absolute;
    background-color: var(--maincolor);
    width: 50%;
    height: 100%;
    left: -25%;
    top: 0;
    transform: skewX(-30deg);
    z-index: 2;
}

.services .container .details span:nth-child(2) {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    font-size: 25px;
    font-weight: bold;
}

.services .container .details span:last-of-type {
    position: absolute;
    background-color: #ddd;
    width: 65%;
    height: 100%;
    left: -25%;
    top: 0;
    transform: skewX(-30deg);
    z-index: 1;
}

/* Services Animation */
.services .container .box::after {
    position: absolute;
    content: "";
    background-color: var(--maincolor);
    width: 0%;
    height: 3px;
    top: 0%;
    left: 50%;
    transition: 0.3s;
}

.services .container .box::before {
    position: absolute;
    content: "";
    background-color: var(--maincolor);
    width: 0%;
    height: 3px;
    top: 0%;
    right: 50%;
    transition: 0.3s;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box:hover::after {
    width: 50%;
}

.services .box:hover::before {
    width: 50%;
}

/* Services End  */
/*our Skills Start */
.skills .main-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.skills {
    padding-bottom: 100px;
}

.skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .container .skills-status {
    flex: 1;
}

.skills .skills-status .stat {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.skills .skills-status .title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.skills .stat .per {
    position: relative;
    height: 30px;
    width: 100%;
}

.skills .stat .one {
    position: absolute;
    height: 30px;
    background-color: var(--maincolor);
    z-index: 1;
    width: 100%;
}

.skills .stat .two {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: #ddd;
    z-index: -1;
}

.skills .stat .three {
    position: absolute;
    height: 20px;
    width: 30px;
    z-index: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    transform: translateY(-35px);
    right: 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--maincolor);
    display: flex;
    align-items: center;
    justify-content: center;

}

@media(max-width:991px) {
    .skills .container img {
        display: none;
    }
}

/*our Skills End  */
/* Works Start */
.works .main-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.works {
    background-color: var(--bacgroundcolor--);
    padding-bottom: 100px;
}

.works .container {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.works .container img:first-of-type {
    max-width: 100%;
}

.works .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.works .container .box img {
    width: 100px;
    padding: 20px;
}

.works .container .box .work-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.works .work-desc .title {
    font-size: 25px;
    font-weight: bold;
}

.works .work-desc .text {
    padding: 20px;
}

.works .desc {
    line-height: 2;
    color: var(--fontcolor);
}

.works .work-desc {
    position: relative;
    z-index: 1;
}

.works .work-desc::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.3s;
    z-index: -1;
}

.works .work-desc:hover::after {
    width: 100%;
    height: 100%;
}

/* media quary */
@media(max-width:991px) {
    .works .container {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width:768px) {
    .works .container .box .work-desc {
        flex-direction: column;
    }

    .works .work-desc .text {
        text-align: center;
    }
}

/* Events Start */
.events .main-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.events {
    padding-bottom: 100px;
}
.events .container .box{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
}
.events .container img{
    width: 450px;
    padding-bottom: 50px;
}
.events .container .event-content .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.events .time{
    border: 1px solid #ddd;
    border-radius: 5px; 
}
.events .timer .time div:first-child{
    border-bottom: 1px solid #ddd;
    font-size: 25px;
    font-weight: bold;
    color: var(--maincolor);
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
}
.events .timer .time div:last-of-type{
    color: var(--fontcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.events .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.events .text .title{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
}
.events .text .desc{
    color: var(--fontcolor);
    text-align: center;
    line-height: 2;
    font-size: 19px;
}
.events .align{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.events form{
    background-color: #f6f5f5;
    padding: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.events form input[type="email"]{
    border-radius: 50px;
    background-color: var(--white);
    padding: 20px;
    width: 400px;
    border: none;
}
.events form input[type="submit"]{
    border-radius: 50px;
    background-color: var(--maincolor);
    font-weight: bold;
    color: var(--white);
    padding: 20px;
    width: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* media quary */
@media (max-width:991px){
    .events img{
        display: none;
    }
    .events .event-content .text{
        padding-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .events  form{
        transform: none;
        padding: 20px;
    }
}
@media (max-width:768px){
    .events form{
        border-radius: 0px;
        flex-direction: column;
        gap: 20px;
        width: 600px;
    }
    .events form input[type="email"]{
        border-radius: 0px;
        width: 100%;
    }
    .events form input[type="submit"]{
        border-radius: 0px;
        width: 100%;
    }
}
/* media quary end */
/* Events End */
/* Works End */
/* project End */
/* contact */
.contact {
    padding-top: 60px;
    padding-bottom: calc(60px);
    background-color: var(--bacgroundcolor--);
}
.contact .contact-content{
text-align: center;
margin-top: 100px;
}
.contact .contact-content p:first-child{
color:#2c4755;
font-size: 40px;
letter-spacing: -2px;
font-weight: bolder;
margin-bottom: 20px;
}
.contact .contact-content .ds a{
color:#10cab7;
font-size: 40px;
letter-spacing: -2px;
font-weight: bolder;
text-decoration: none;
}
.contact .contact-content div:last-child{
margin-top: 20px;
}

/*media*/
@media(max-width:991px) {
.contact .contact-content p:first-child,.contact .contact-content a{
    font-size: 25px;
}
}

/* contact End */
footer{
background-color: #f6f6f6;
text-align: center;
font-size: 25px;
color: #3213;
padding: 20px;
}
footer span{
color: #10cab7;
}
/* media */
@media(max-width:991px) {
footer{
    font-size: initial;
}
}.special-heading {
    color: #5c5a5a;
    font-size: 90px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0px;
}

.special-heading+p {
    color: #797979;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: -25px;
}

@media (max-width:767px) {
    .Special-heading {
        font-size: 50px;
    }

    .Special-heading+p {
        font-size: 10px;
    }
}